*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.App {
    padding: 20px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
}

.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: green;
    width: 100%;
}
.title { 
    font-size: 25px;
   
}

.subtitle { 
    font-size: 22px;
}

span {
    margin: 15px;
    
}